
.pie {
    background-color: #023535 ;
    text-align: center;

    p{ 
        text-align: center;
        color:#FFFFFF8C;
    }
    a {
        display: inline-block;
        margin-right: 1.5rem;
        margin-bottom: 2rem;
        
        &:last-child { 
            margin-right: 0; 
        }

        svg { 
            color:#FFFFFF8C;
            width: 2.5rem; 
            height: 2.5rem;
        }
    }
}

